/*For resetting styles(provided by browser) at global level*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

header,
footer {
    padding: 20px 250px;
}

.hero_section,
.random_info_section,
.quote_section,
.cta_section {
    padding: 60px 250px;
}

/* Header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.cta_button {
    background-color: black;
    color: #F9FAF8;
    font-weight: 900;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0px 20px;
}


/* main content */
.hero_section {}

.hero_section_heading {}

.hero_section_title {}

/* footer */
footer {
    height: 60px;
    background-color: black;
    color: #F9FAF8;
    text-align: center;
}